:root {
  --color-dark: #1a1a1a;
  --color-light: #fafafa;

  --text-size-base: 1rem;
  --text-size-h6: 1.2rem;
  --text-size-h5: 1.44rem;
  --text-size-h4: 1.728rem;
  --text-size-h3: 2.074rem;
  --text-size-h2: 2.488rem;
  --text-size-h1: 2.986rem;
  --text-size-h0: 3.583rem;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0;

  font-size: var(--text-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: var(--text-size-h1);
}
h2 {
  font-size: var(--text-size-h2);
}
h3 {
  font-size: var(--text-size-h3);
}
h4 {
  font-size: var(--text-size-h4);
}
h5 {
  font-size: var(--text-size-h5);
}
h6 {
  font-size: var(--text-size-h6);
}

a {
  color: #0077b2;
}

a:hover {
  color: #53afdc;
}

a:visited {
  color: #003c5a;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

p,
ul > li,
ol > li {
  line-height: 1.6rem;
}

dt {
  font-weight: 700;
}

dt:after {
  content: ":";
}

dd {
  margin-bottom: 1rem;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body > nav {
  height: 5rem;
}

body > header > *,
main > section > *,
body > footer > * {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

body > header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > header > h1 {
  font-size: var(--text-size-h0);
  margin-bottom: 1rem;
}

body > header > p {
  font-size: var(--text-size-h5);
  margin-top: 1rem;
}

main > section {
  padding: 4rem 0 8rem;
}

main > section:nth-child(1) > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

main > section:nth-child(2) {
  background: var(--color-dark);
  color: var(--color-light);
}

main > section:nth-child(2) > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

main > section:nth-child(2) > p {
  margin-top: 4rem;
}

main > section:nth-child(3),
main > section:nth-child(4) {
  padding-bottom: 4rem;
}

main > section > ol {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

main > section > ol > li {
  position: relative;
}

main > section > ol > li:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

main > section > ol > li:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 2;
}

main > section > ol > li:nth-child(3) {
  grid-column: 3 / span 2;
  grid-row: 3;
}

main > section > ol > li:nth-child(4) {
  grid-column: 4;
  grid-row: 4;
}

main > section:nth-child(4) > article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

main > section:nth-child(4) > article > header,
main > section:nth-child(4) > article > footer {
  grid-column: span 3;
}

main > section:nth-child(4) > article > section > ul > li {
  margin-bottom: 1rem;
}

body > footer {
  background: var(--color-dark);
  padding: 4rem 0 8rem;
}
